In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1,3,5,7,9],index=list('acefh'))
s

a    1
c    3
e    5
f    7
h    9
dtype: int64

In [3]:
# 重新创建索引
s.reindex(list('abcdefh'))

a    1.0
b    NaN
c    3.0
d    NaN
e    5.0
f    7.0
h    9.0
dtype: float64

In [4]:
# 给空缺的数默认设为0
s.reindex(list('abcdefh'),fill_value=0)

a    1
b    0
c    3
d    0
e    5
f    7
h    9
dtype: int64

In [6]:
# 将前面一个的数值填充到空的位置上(像股票停牌),只对行有效果
s.reindex(list('abcdefh'),method='ffill')

a    1
b    1
c    3
d    3
e    5
f    7
h    9
dtype: int64

In [19]:
# 后面的的数填充
s.reindex(list('abcdefh'),method='bfill')

a    1
b    3
c    3
d    5
e    5
f    7
h    9
dtype: int64

In [27]:
df = pd.DataFrame(np.random.randn(4,6),index=list('abcd'),columns=['one','two','three','four','five','six'])
df

        one       two     three      four      five       six
a  0.897951 -0.063072 -0.120611 -0.770656  0.733608 -0.556656
b  1.287804 -0.686061 -0.741845 -0.088056 -0.249388 -1.071138
c  1.130996  0.370635 -0.397492  1.633125 -0.083090  0.067505
d  0.464732 -0.070307  0.817354 -1.077252  0.917955 -1.622885

In [9]:
df.reindex(index=list('abcde'))

        one       two     three      four      five       six
a  2.239780  0.859585 -0.586926  0.248232 -0.254333  0.115243
b -0.222317 -0.902349 -0.121524  0.046674 -0.730126 -0.349760
c  0.604333  0.062676 -1.642517 -0.542909 -0.339725 -1.334859
d -0.621263  1.055944 -0.746792  0.559971  0.495807  0.927689
e       NaN       NaN       NaN       NaN       NaN       NaN

In [12]:
df1 = df.reindex(index=list('abcdef'),fill_value=0)
df1

        one       two     three      four      five       six
a  2.239780  0.859585 -0.586926  0.248232 -0.254333  0.115243
b -0.222317 -0.902349 -0.121524  0.046674 -0.730126 -0.349760
c  0.604333  0.062676 -1.642517 -0.542909 -0.339725 -1.334859
d -0.621263  1.055944 -0.746792  0.559971  0.495807  0.927689
e  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
f  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

In [15]:
df1.loc['a']['one'] = 100

In [16]:
df1

          one       two     three      four      five       six
a  100.000000  0.859585 -0.586926  0.248232 -0.254333  0.115243
b   -0.222317 -0.902349 -0.121524  0.046674 -0.730126 -0.349760
c    0.604333  0.062676 -1.642517 -0.542909 -0.339725 -1.334859
d   -0.621263  1.055944 -0.746792  0.559971  0.495807  0.927689
e    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
f    0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

In [18]:
#　进行列重置
df.reindex(columns=['two','four','seven','eight'])

        two      four  seven  eight
a  0.859585  0.248232    NaN    NaN
b -0.902349  0.046674    NaN    NaN
c  0.062676 -0.542909    NaN    NaN
d  1.055944  0.559971    NaN    NaN

In [28]:
df

        one       two     three      four      five       six
a  0.897951 -0.063072 -0.120611 -0.770656  0.733608 -0.556656
b  1.287804 -0.686061 -0.741845 -0.088056 -0.249388 -1.071138
c  1.130996  0.370635 -0.397492  1.633125 -0.083090  0.067505
d  0.464732 -0.070307  0.817354 -1.077252  0.917955 -1.622885

In [30]:
# 删除某一行
df.drop('a')

        one       two     three      four      five       six
b  1.287804 -0.686061 -0.741845 -0.088056 -0.249388 -1.071138
c  1.130996  0.370635 -0.397492  1.633125 -0.083090  0.067505
d  0.464732 -0.070307  0.817354 -1.077252  0.917955 -1.622885

In [31]:
# 删除某一列
df.drop('one',axis=1)

        two     three      four      five       six
a -0.063072 -0.120611 -0.770656  0.733608 -0.556656
b -0.686061 -0.741845 -0.088056 -0.249388 -1.071138
c  0.370635 -0.397492  1.633125 -0.083090  0.067505
d -0.070307  0.817354 -1.077252  0.917955 -1.622885

In [32]:
df

        one       two     three      four      five       six
a  0.897951 -0.063072 -0.120611 -0.770656  0.733608 -0.556656
b  1.287804 -0.686061 -0.741845 -0.088056 -0.249388 -1.071138
c  1.130996  0.370635 -0.397492  1.633125 -0.083090  0.067505
d  0.464732 -0.070307  0.817354 -1.077252  0.917955 -1.622885

In [33]:
# 进行计算(默认按列)
df.apply(lambda x:x.max()-x.min())

one      0.823072
two      1.056695
three    1.559199
four     2.710377
five     1.167344
six      1.690390
dtype: float64

In [34]:
# 进行计算(按行)
df.apply(lambda x:x.max()-x.min(),axis=1)

a    1.668606
b    2.358942
c    2.030617
d    2.540841
dtype: float64

In [35]:
# 创建函数使df值只显示小数点后面3位
formater = lambda x: '%.03f' % x
df.applymap(formater)

     one     two   three    four    five     six
a  0.898  -0.063  -0.121  -0.771   0.734  -0.557
b  1.288  -0.686  -0.742  -0.088  -0.249  -1.071
c  1.131   0.371  -0.397   1.633  -0.083   0.068
d  0.465  -0.070   0.817  -1.077   0.918  -1.623

In [36]:
# 排序
df.sort_values(by='one')

        one       two     three      four      five       six
d  0.464732 -0.070307  0.817354 -1.077252  0.917955 -1.622885
a  0.897951 -0.063072 -0.120611 -0.770656  0.733608 -0.556656
c  1.130996  0.370635 -0.397492  1.633125 -0.083090  0.067505
b  1.287804 -0.686061 -0.741845 -0.088056 -0.249388 -1.071138

In [37]:
df.sort_values(by='one',ascending=False)

        one       two     three      four      five       six
b  1.287804 -0.686061 -0.741845 -0.088056 -0.249388 -1.071138
c  1.130996  0.370635 -0.397492  1.633125 -0.083090  0.067505
a  0.897951 -0.063072 -0.120611 -0.770656  0.733608 -0.556656
d  0.464732 -0.070307  0.817354 -1.077252  0.917955 -1.622885

In [42]:
s = pd.Series([4,6,1,7,2,4])
s

0    4
1    6
2    1
3    7
4    2
5    4
dtype: int64

In [43]:
# 排名
s.rank()

0    3.5
1    5.0
2    1.0
3    6.0
4    2.0
5    3.5
dtype: float64

In [44]:
# 相同名次时，先出现的排前面
s.rank(method='first')

0    3.0
1    5.0
2    1.0
3    6.0
4    2.0
5    4.0
dtype: float64

In [45]:
# 进行升序
s.rank(ascending=False)

0    3.5
1    2.0
2    6.0
3    1.0
4    5.0
5    3.5
dtype: float64

In [48]:
s = pd.Series(list('abdgdagcsdasda'))

In [49]:
s

0     a
1     b
2     d
3     g
4     d
5     a
6     g
7     c
8     s
9     d
10    a
11    s
12    d
13    a
dtype: object

In [50]:
# 进行个数统计
s.value_counts()

d    4
a    4
g    2
s    2
b    1
c    1
dtype: int64

In [51]:
# 都有哪些值
s.unique()

array(['a', 'b', 'd', 'g', 'c', 's'], dtype=object)

In [52]:
s.isin(['a','b','c'])

0      True
1      True
2     False
3     False
4     False
5      True
6     False
7      True
8     False
9     False
10     True
11    False
12    False
13     True
dtype: bool